
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family:  'Varela Round', sans-serif;
}
.header{
    /* background-color:red; */
    /* width: 90%; */
    /* height: 500px; */
    

}
.container{
     background-color:gray;
    /* width: 80%; */
    /* height: 100px; */
    margin: auto; 

}
.header-content{
    background-color:red ;
    width: 100%;
    height: 500px;
}
.home{
    background-image: url(../images/background/background1.webp); 
    height: 100vh;
    background-size: cover;
    position: relative;

}
.home-content{
    position: absolute;
    top:50%;
    left:50%;
    width: 65%;
    transform: translate(-50% , -50%);
    text-align: center;


}
h1,h2,h3,h4,h5,h6{
    font-family:  montserrat,sans-serif;
}
.home-content .title{
    color: #fff;
    font-size: 50px
}
.home-content .home-desc{
    color: #fff;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 20px 0;

}
button{
    font-family: 'Varela Round', sans-serif;

}
.hover-opacity{
    transition: opacity 0.8s;
}
.hover-opacity:hover{
    opacity: 0.8;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}
.home .btn{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}
.home .btn-start{
    margin-right:10px;
    background-color: #fff;
    
}
.home .btn-learn{
    background-color:#6195ff;
    color: #fff;
}